#btn1{
    background: linear-gradient(135deg, #07e2ff, #0a06d3);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#btn1:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #8c05d4, #f20736);
}

#btn1:active {
    transform: scale(0.95);
}